form(method="post" action="/trips/"+trip.id+"/search")
    input(name="outbound" type="text" placeholder="outbound")
    | 
    input(name="destination" type="text" placeholder="destination")
    | 
    //- input(name="outdate" type="date")

    | 
    button.btn.btn-default(type="submit" clas="btn btn-default") Search