extends layout

block content
	h1= title
	
	form(method="post" action="")
		input(name="email" placeholder="email")
		input(name="password" type="password")
		button(type="submit") lol

	//- <form>
//-   <div class="form-group">
//-     <label for="email">Email address:</label>
//-     <input type="email" class="form-control" id="email">
//-   </div>
//-   <div class="form-group">
//-     <label for="pwd">Password:</label>
//-     <input type="password" class="form-control" id="pwd">
//-   </div>
//-   <div class="checkbox">
//-     <label><input type="checkbox"> Remember me</label>
//-   </div>
//-   <button type="submit" class="btn btn-default">Submit</button>
//- </form>