extends trip

block trip_content
	h2 Search for a Destination
	include destination_search_form.pug

	hr

	if searchFailed
		p Search failed! Please try simpler search terms.
	else

		h2 Flights from "#{fields.out}" to "#{fields.dest}" on #{fields.date}
		//- each user in guests
		//-     li 
		//-      | #{user.name} 
		//-      if user.isMe
		//-         | (you) 
		//-      if user.isOwner
		//-         | (owner)
