extends trip

block trip_content
	h2 Search for a Destination
	form(action="/trips/"+trip.id+"/search", method="post")
		input(name="dest" placeholder="destination name")
		| 
		button(type="submit") search

	hr

	h2 Results for "#{query}"
	//- each user in guests
	//-     li 
	//-      | #{user.name} 
	//-      if user.isMe
	//-         | (you) 
	//-      if user.isOwner
	//-         | (owner)
