extends layout

block content
    h1 All about "#{trip.name}"
    p
        | This trip is 
        if !trip.archived 
            | not 
        | archived.

        form(method="post" action="/trips/"+trip.id+"/archive" style="display:inline;")
            button(type="submit" class="btn btn-default")
                if trip.archived
                    | un
                | archive

    block trip_content