extends trip

block trip_content
    .profiletext Destinations
    hr
    include destination_search_form.pug
    hr
    h3.profiletext Saved searches
    .cities
        each dest in destinations 
            h3 #{dest.name}
            h4 £#{dest.price}
            a.btn.btn-default(href=dest.url) Link
            //- a.btn.btn-default(href=dest.url) Link
            hr
        else
            h4 Search for your first destination above!