extends layout

block content
    .logintext
        img.profilepic(src='profilepic.png')
        br
        |                             Welcome to your profile.
        br
        |                             Your are logged in as #{user.name}.
        br
        |                             Your email is: #{user.email}
        br
        |                             Your ID is: #{user.id}
        br
        hr
        .profiletext
            | Create a new trip: 
        
        form(method="post" action="/trips/new")
            input(name="name" placeholder="trip name")
            | 
            button(type="submit" clas="btn btn-default") Create
        hr
        a.profiletext(href='/trips/current') Current trips
        hr
        a.profiletext(href='/trips/archive') Archive
        hr
